    <%= render "shared/header" %>

    <% if flash.alert %>
      <p class="alert "><%= flash.alert  %></p>
    <% end %>

    <section class="row justify-content-center my-sm-5">
      <div class="card text-center ms-5 px-2 py-4" style="max-width: 38rem;">
        <p class="my-4">ログイン</p>

        <%= form_with scope: :session, local: true  do |f| %>

        <div class="row justify-content-center align-items-center">
          <div class="col-sm-1 required">必須</div>
          <div class="col-sm-6 px-sm-0">
            <%= f.text_field :email, class: "form-control", placeholder: "メールアドレス" %>
         </div>
        </div>

        <div class="row justify-content-center align-items-center">
          <div class="col-sm-1 required">必須</div>
          <div class="col-sm-6 px-sm-0">
            <%= f.text_field :password, class: "form-control",  placeholder: "パスワード" %>
          </div>
        </div>

        <div class="row justify-content-center align-items-center">
          <div class="col-sm-8">
            <%= f.submit "ログイン", class: ["form-control","btn","btn-primary"] %>
          </div>
        </div>

        <div class="row justify-content-center align-items-center">
          <div class="col-sm-8">
            <%= link_to "新しいアカウントを作成", register_path, class: ["btn" "btn-link"] %>
          </div>
        </div>

      <% end %>

      </div>
    </section>

    <%= render "shared/footer" %>
