    <%= render "shared/header" %>

    <%= render "shared/error", obj: @booking %>

    <% if flash.notice %>
      <p class="notice"><%= flash.notice %></p>
    <% end %>

    <div class="container-fluid room-show">
      <div class="row">

        <div class="col-md-8">

          <% if @room.image.attached? %>
            <%= image_tag @room.image, class: "room-show-image" %>
          <% else %>
            <%= image_tag "default_icon.jpeg", class: "room-show-image" %>
          <% end %>

          <div class="room-show-detile">

            <div class="room-show-detile-icon">
              <% if @room.user.image.attached? %>
                <%= image_tag @room.user.image, class: "host-icon" %>
              <% else %>
                <%= image_tag "default_icon.jpeg", class: "host-icon" %>
              <% end %>
            </div>

            <div class="room-show-profile">
              <p class="room-show-profile-name">
                <%= @room.user.name %>
              </p>
              <p class="room-show-profile-address">
                <%= @room.address %>
              </p>
            </div>

          </div>

          <p class="room-show-detile-content">
            <%= @room.introduction %>
          </p>

        </div>

        <div class="col-md-4">
          <div class="room-show-nav">
            <h5 class="price-icon">¥ <%= @room.charge.to_i() %> / 日</h5>

            <div class="room-show-date-select">

              <%= form_for @booking, url: confirm_new_booking_path(room_id: @room.id) do |f| %>

              <%= f.label :start_date ,"開始日" %>
              <%= f.date_field :start_date, class: "form-control mb-4" %>

              <%= f.label :termination_date ,"終了日" %>
              <%= f.date_field :termination_date, class: "form-control mb-4" %>

              <%= f.label :number_of_users ,"人数" %>
              <%= f.number_field :number_of_users, min: 1, max: 9999, class: "form-control mb-4" %>

              <%= f.hidden_field :room_id %>

              <%= f.submit "予約する", class: ["form-control","btn","btn-primary"] %>
              <% end %>
              </div>

          </div>
        </div>

      </div>
    </div>

    <%= render "shared/footer" %>
