    <%= render "shared/header" %>
    <%= render "shared/error", obj: @user %>

    <div class="user-view-box">

      <div class="user-edit-frame">
        <h2 class="mb-3">アカウント編集</h2>

        <%= form_for @user, url: users_edit_path do |f| %>

            <div class="form-group">
              <%= f.label :email ,"メールアドレス" %>
              <%= f.text_field :email, class: "form-control", placeholder: "メールアドレスを入力してください" %>
            </div>
            <div class="form-group">
              <%= f.label :password ,"変更後パスワード（変更する場合のみ入力）" %>
              <%= f.text_field :password, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation ,"パスワード確認用（変更する場合のみ入力）" %>
              <%= f.text_field :password_confirmation, class: "form-control" %>
            </div>

          <div class="form-group">
            <%= f.submit "更新", class: ["form-control", "btn-primary", "my-4"] %>
          </div>

          <div class="form-group">
            <%= link_to "戻る", users_account_path, class: "form-control" %>
          </div>

        <% end %>

      </div>
    </div>

    <%= render "shared/footer" %>